.propertygrid{
	float:left;
	width:100%;
}

.propertygrid div.propertygrid-table 
{
	border: 1px solid #dfdfdf;
	display: table;
	width:100%
}
.propertygrid div.propertygrid-row {
	border: 1px solid #dfdfdf;
	display: table-row; 
}
.propertygrid div.propertygrid-cell{
	border: 1px solid #dfdfdf;
	display: table-cell; 
	padding:5px;
}
.propertygrid div.propertygrid-cell.w1{
	width:10%;
}
.propertygrid div.propertygrid-cell.w4{
	width:45%;
}
.propertygrid div.propertygrid-cell.w4{
	width:45%;
}

.propertygrid div.property-group{
	 background-color: #fafafa;
	 border-left:0px;
	 border-right:0px;
	 font-weight: bold;
}

.propertygrid div.grp-none-left{
	 border-right:0;
	 background-color: #fafafa;
}
.propertygrid div.grp-none-right{
	 border-left:0;
	 background-color: #fafafa;
}

.propertygrid div.grp-none-left a{
	position:absolute;
	font-weight: bold;
}
.propertygrid div.grp-none-left a i
{
  position:relative;
  left: 5px;
  color: #404040;  
}


.propertygrid div.cell-text{
	 border-left:0px;
	 border-right:0px;
}

.propertygrid div.cell-none-left{
	 border-right:0;
}
.propertygrid div.cell-value{
	 border-left:0;
}