.tree{
	float:left;
	width:100%;
}
.tree ul{
	list-style:none;
	float:left;
	width:100%;
}

.tree ul li{
	float:left;
	width:100%;
}

.tree ul li a{
	float:left;
	color: #404040;  
	text-decoration:none;
}
.tree-arrow-right{
	float:left;
	margin-left:5px;
	width:10px;
}
.tree-icon{
}