.datalist
{
  border: 1px solid #ccc;
  margin-bottom:20px;
  max-height: 450px;
  min-height: 450px;
  overflow-y: scroll;
}

.datalist .list-group-item
{
    border: none !important;

}

.datalist .btn-link {
    background: none;
    border: none;
    padding: 0;
    color: #333 !important;
    text-decoration: none;
    cursor: pointer;
    width:100%;
    text-align: left;
}

.list-group-item:hover
{
  background-color: #e9ecef;
  color:#333 !important;
}

.list-group-item.active
{
  background-color: #e9ecef !important;
}
.datalist-title
{
  font-size:20px;
}