.check-container
{
    display: flex;
    justify-content: center;

}
.check-grid
{
    max-width:75px;
    width:75px;
    display: flex;
    justify-content: center;
}

.check-input {
    width: 14px !important;
    height: 14px !important;
}